body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: black;
}

/* width: 100%;
    max-width: 1280px;
    height: 576px; */